${ORIGIN} .
$TTL 604800
@       IN      SOA     infra.{{ base_domain }}. admin.{{ base_domain }}. (
                     {{ '%Y%m%d01' | strftime }}  ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL

; Name servers
@       IN      NS      infra.{{ base_domain }}.

; Infrastructure
infra           IN      A       {{ dns_server_ip }}

{% for cluster in clusters %}
; {{ cluster.name | title }} hosts and OpenShift entries
{% for host in cluster.hosts %}
{{ host.name }}.{{ cluster.name }}  IN   A       {{ host.ip }}
{% endfor %}
api.{{ cluster.name }}       IN   A       {{ cluster.api_ip }}
api-int.{{ cluster.name }}   IN   A       {{ cluster.api_ip }}
*.apps.{{ cluster.name }}    IN   A       {{ cluster.api_ip }}
oauth-openshift.apps.{{ cluster.name }} IN A {{ cluster.api_ip }}
{% if cluster.name == 'partner' %}
console-openshift-console.apps.{{ cluster.name }} IN A {{ cluster.api_ip }}
{% endif %}

{% endfor %}
