[Unit]
Description=DNS Server Container
After=network.target

[Service]
Type=simple
User={{ ansible_user_id }}
ExecStart=/bin/bash {{ ansible_user_home }}/lab-infra/dns/start-dns.sh
ExecStop=/bin/bash -c "/usr/bin/podman stop dns-server || true"

[Install]
WantedBy=multi-user.target
