[Unit]
Description=DNS Server Container
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
User={{ ansible_user_id }}
Group={{ ansible_user_id }}
WorkingDirectory={{ ansible_user_home }}
ExecStart={{ ansible_user_home }}/lab-infra/dns/start-dns.sh
ExecStop=/usr/bin/podman --root {{ ansible_user_home }}/podman-storage --runroot {{ ansible_user_home }}/podman-tmp rm -f dns-server

[Install]
WantedBy=multi-user.target
