[Unit]
Description=DHCP Server Container
After=network.target

[Service]
Type=simple
User={{ ansible_user_id }}
ExecStart=/bin/bash {{ ansible_user_home }}/lab-infra/dhcp/start-dhcp.sh
ExecStop=/bin/bash -c "/usr/bin/podman stop dhcp-server || true"

[Install]
WantedBy=multi-user.target
